h2{
  position: relative;
  right: 20px;
  text-align: center;
  font-family: Comic Sans MS;
  font-size: 30px;
  text-shadow: 2px 2px 5px #ccc;
}
#myForm{
  position: relative;
  right: 20px;
  text-align: center;
}
.colname{
  display: inline-block;
  width: 80px;
  text-align: end;
  margin-right: 20px;
  font-family: Papyrus;
  font-weight: bold;
  font-size: 18px;
  color: white;
}
.input{
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  border-radius: 5px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  outline: none;
}
.input:focus {
  border: 3px solid #555;
}
#submitForm{
  padding: 12px 20px;
  margin: 8px 20px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
#submitForm:hover {
  border: 3px solid #555;
  cursor:pointer;
}
#registerForm{
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
#registerForm:hover {
  border: 3px solid #555;
  cursor:pointer;
}
#loginF{
  display: inline-block;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid red;
  border-radius: 5px;
  outline: none;
  font-family: Papyrus;
  font-weight: bold;
  background-color: pink;
}
