<div id="userdiv">
  <h2>Create a Booking</h2>
  <form #userForm="ngForm" id="myForm" [hidden]="submit">
    <div class="form-group">
      <span class="colname" id="date">Date:</span>
      <div class="input-group date form_date col-xs-3" data-date="" data-date-format="mm-dd-yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
        <input id="dateInput" class="form-control" size="16" type="text" required readonly>
        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
      </div>
      <input type="hidden" id="dtp_input2" value="" /><br/>
      </div>
    <div class="form-group">
      <span class="colname" id="time">Time:</span>
      <div class="input-group date form_time col-xs-3" data-date="" data-date-format="hh-ii" data-link-field="dtp_input3" data-link-format="hh:ii">
        <input id="timeInput" class="form-control" size="16" type="text" required readonly>
        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
      </div>
      <input type="hidden" id="dtp_input3" value="" /><br/>
    </div>
    <div id="info">
    <span class="colname">Party Size:</span>
    <select id="partySize" class="input" name="party" ngModel #partyRef="ngModel">
      <option value="1">1 Persons</option>
      <option value="2">2 Persons</option>
      <option value="3">3 Persons</option>
      <option value="4">4 Persons</option>
      <option value="5">5 Persons</option>
      <option value="6">6 Persons</option>
      <option value="7">7 Persons</option>
      <option value="8">8 Persons</option>
      <option value="9">9 Persons</option>
      <option value="10">10 Persons</option>
      <option value="11">More than 10 Persons</option>
    </select><br><br>
      <span class="colname" >Name:</span>
      <input class="input" type="text" size="35" placeholder="Name"
             required minlength="2" maxlength="20" ngModel name="name" #nameRef="ngModel" pattern="[a-zA-Z0-9 .!#$%&’*+/=?^_`{|}~-]*"/><br>
      <div class="alertg" *ngIf="(nameRef.touched&&!nameRef.valid) || nameRef.errors?.minlength || nameRef.errors?.pattern">
        <div class="alert" *ngIf="nameRef.touched&&!nameRef.valid">Name required</div>
        <div class="alert" *ngIf="nameRef.errors?.minlength">Name should be minlength 2</div>
        <div class="alert" *ngIf="nameRef.errors?.pattern">Name invalid</div>
      </div><br>
    <span class="colname">Phone Number:</span>
      <input class="input"  type="tel" size="35" placeholder="Phone Number"
             required name="phone" ngModel #phoneRef="ngModel" pattern="[0-9]{10}"/><br>
      <div class="alertg" *ngIf="(phoneRef.touched&&!phoneRef.valid) || phoneRef.errors?.pattern">
        <div class="alert" *ngIf="phoneRef.touched&&!phoneRef.valid">Phone Number required</div>
        <div class="alert" *ngIf="phoneRef.errors?.pattern">Phone Number invalid</div>
      </div>
    </div>
      <br>
    <input [disabled]="!userForm.form.valid || checkDateTime()" class="submitForm" type="submit" value="Create" (click)="createBooking(partyRef.value, nameRef.value, phoneRef.value)">
  </form>
  <br>
  <div id="success" [hidden]="!submit">You have created the book successfully<br>
    The Booking Number is {{code}}
  </div>
</div>
