h2{
  position: relative;
  right: 20px;
  text-align: center;
  font-family: Comic Sans MS;
  font-size: 30px;
  text-shadow: 2px 2px 5px #ccc;
}
#myForm{
  position: relative;
  right: 20px;
  text-align: center;
}
.colname{
  display: inline-block;
  width: 160px;
  text-align: end;
  margin-right: 20px;
  font-family: Papyrus;
  font-weight: bold;
  font-size: 18px;
  color: white;
}
#email{
  display: inline-block;
  width: 220px;
  text-align: end;
  margin-right: 20px;
  font-family: Papyrus;
  font-weight: bold;
  font-size: 18px;
  color: white;
}
.input{
  padding: 12px 20px;
  margin: 0px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  border-radius: 5px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  outline: none;
}
.input:focus {
  border: 3px solid #555;
}
#submitForm{
  position: relative;
  left: -12px;
  padding: 12px 20px;
  margin: 8px 20px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  border-radius: 5px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  outline: none;
}
#submitForm:hover {
  border: 3px solid #555;
  cursor:pointer;
}
#submitForm:disabled{
  cursor:not-allowed;
}
#check{
  position: relative;
  left: -12px;
  padding: 12px 20px;
  margin: 2px 20px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  border-radius: 5px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  outline: none;
}
#check:hover {
  border: 3px solid #555;
  cursor:pointer;
}
.alert{
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid red;
  border-radius: 5px;
  outline: none;
  font-family: Papyrus;
  font-weight: bold;
  background-color: pink;
}
.alertg{
  display: inline-block;
  position: relative;
  left: 90px;
  width: 300px;
}
#success{
  text-align: center;
  padding: 12px 20px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 3px solid black;
  border-radius: 5px;
  outline: none;
  font-family: Papyrus;
  font-weight: bold;
  font-size: 20px;
  width: 40%;
  background-color: lightgreen;
}

@media only screen and (max-width: 650px) {
  .alertg {
    position: relative;
    left: 5%;
    width: 80%;
  }
  input{
    position: relative;
    left: 5%;
    width: 80%;
  }
  #submitForm{
    left: 5%;
    width: 80%;
  }
  #success{
    left: 5%;
    width: 80%;
  }
  #email{
    width: 160px;
  }
  #check{
    left: 5%;
    width: 80%;
  }
}
