h2{
  position: relative;
  right: 20px;
  text-align: center;
  font-family: Comic Sans MS;
  font-size: 30px;
  text-shadow: 2px 2px 5px #ccc;
}
#menu{
  text-align: center;
}
#myTable{
  background-color: whitesmoke;
}
#myTable tr:not(:first-child):hover{
  font-weight: bold;
  cursor: pointer;
}
.submitBtn{
  position: relative;
  width: 300px;
  padding: 12px 20px;
  margin: 8px 20px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  border-radius: 5px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  outline: none;
}
.submitBtn:hover {
  border: 3px solid #555;
  cursor:pointer;
}
@media only screen and (max-width: 700px) {
  .submitBtn{
    width: 80%;
  }
}
